/*--HEADER--*/

.nn-header{
    position:relative;
    height:200px;
}

.nn-company{
    position:absolute;
    bottom:20px;
    font-variant:small-caps;
}

.nn-company>h1{
    font-family:Impact;
    font-size:50px;
    color:white;
    letter-spacing: 0.3px;
    text-shadow:0 0 2px black;
    padding-bottom:0px;
    border-bottom:1px dotted gray;
    margin:0px;
}
.nn-company>h5{
	margin-top:5px;
    letter-spacing: 0.5px;
}

/*--BODY--*/

.nn-sheet{
    box-shadow:0 0 1px lightgray;
    border-radius:5px;
    padding:5px;
    position:relative;
    top:-10px;
}

.nn-sheet>article.col-sm-9, .nn-sheet>aside.col-sm-3{
	padding: 5px;
}

/*--ASIDE BOX--*/

.nn-cart{
	margin-top: 5px;
}

.nn-cart ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-variant: small-caps;
}

.panel-heading strong{
	font-variant: small-caps;
	font-size: larger;
	text-shadow:0 0 2px darkgray;
}

/*--product list--*/
.nn-prod{
	text-align: center;
	font-size: smaller;
}
.nn-prod .panel-body img{
	height: 150px;
	max-width: 98%;
}

.nn-prod .panel-footer .col-sm-3{
	font-family: impact;
	font-size: 20px;
	color: green;
}



